<ul class="navbar-nav mr-right">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cart Total {{ cartItems.length }} items
    </a>
    <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
      <a *ngFor="let cartItem of cartItems"  class="dropdown-item" href="#">
        {{ cartItem.product.productName }}
      </a>
      <!--<div class="dropdown-divider"></div>  [disabled]="cartItems.length !== 0" -->
      <!--<a class="dropdown-item" href="#">Something else here</a>-->
    </div>

  </li>
</ul>
