<h3>Products</h3>
<h6 *ngIf="selectedCategory">you selected: <span class="badge badge-secondary">{{selectedCategory}}</span></h6>
<!--<div *ngIf="selectedProduct" class="alert alert-success" role="alert">-->
  <!--You added {{selectedProduct}} to cart-->
<!--</div>-->
<table class="table table-striped">
  <tr *ngFor="let product of products">
    <td>{{product.productId}}</td>
    <td>{{product.categoryId}}</td>
    <td>{{product.productName | uppercase}}</td>
    <td>{{product.unitPrice | currency:'EUR':true}}</td>
    <td>{{product.unitPrice | vat: 20 | currency: 'EUR': true}}</td>
    <td>{{product.quantityPerUnit}}</td>
    <td>{{product.unitsInStock}}</td>
    <td>
      <button (click)="addToCart(product)" type="button" class="btn btn-primary btn-sm">add to cart</button>
    </td>
  </tr>
</table>
