<h3>Categories</h3>
<div>
  <div class="list-group list-group-flus">
      <a routerLink="products/{{category.seoUrl}}" class="list-group-item" *ngFor="let category of categories" >
        {{category.categoryName}}
      </a>
  </div>
</div>

